.overlay-container,
.overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.overlay-container {
  position: fixed;
  z-index: 10000;
}

.overlay-backdrop {
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .4;
  pointer-events: auto;
}

.overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.position-absolute {
  position: absolute;
}

.loader {
  width: 100px;
}